{% extends "::base.html.twig" %}

{% block title %}About {{ app.user.username }}{% endblock %}

{% block body %}

<div class="row-fluid my-profile">

<h1>Welcome, {{ app.user.firstName }} {{ app.user.lastName }}</h1>

<p>Your username is <strong>{{ app.user.username }}</strong></p>
<p>Your email is <strong>{{ app.user.email }}</strong></p>
<p>Your user was created on <strong>{{ app.user.created|date('Y-m-d H:i:s') }}</strong></p>
<p>Your user was last modified on <strong>{{ app.user.updated|date('Y-m-d H:i:s') }}</strong></p>

</div>

{% endblock %}
