<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/usertweets/css/main.css') }}" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/usertweets/css/bootstrap-dialog.min.css') }}" rel="stylesheet" media="screen" />
    {% endblock %}

    </head>

    <body>

    {% block navigation %}

      {% if app.user %}
        {{ knp_menu_render('UserTweetsBundle:Builder:mainMenu', { 'style': 'tabs' }) }}
      {% elseif not app.user %}
        {{ knp_menu_render('UserTweetsBundle:Builder:mainNLMenu', { 'style': 'tabs' }) }}
      {% endif %}

    {% endblock %}
    {% block body %}{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/usertweets/js/bootstrap-dialog.min.js') }}"></script>    
        <script src="{{ asset('bundles/usertweets/js/main.js') }}"></script>    
    {% endblock %}

    </body>
</html>

